/*Welcome bar*/
.welcome-bar{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.welcome a{
    font-family: "Allerta Stencil", serif;
    text-decoration: none;
}

/*Side bar*/
#sidebar{
    display: none;
    top: 56px;
    left: 0;
    width: 15%;
    height: 100%;
    position: fixed;
    z-index: 2;
    font-family: "Amatic SC", serif;
    font-weight: bold;
    font-size: 28px;

}
#sidebar ul{
    list-style-type: none;
}
/*Remove underline*/
#sidebar ul li a{
    text-decoration: none;
}

/*Name space*/
.name-font{
    font-family: "Goudy Bookletter 1911", serif;
    font-size: 100px;
}
#nameBackground{
    padding-bottom: 120px;
    padding-top: 120px;
    background-color: white;
}

/*over view*/
.overview-container{
    margin-bottom: 200px;
    padding-right: 360px;
    padding-left: 360px;
    height: 500px;
    width: 100%;
    background-color: white;
}
/*click box*/
.click-box{
    /*transform: rotate(90deg);*/
    font-family: "Amatic SC", serif;
    font-weight: bold;
    font-size: 28px;
    margin-top: 35px;
    margin-bottom: 35px;
    color: black;
}
.drop-button{
    font-family: "Elsie", serif;
    font-size: 35px;
}
.dropdown-button .fa-bars{
    font-size: 30px;
    padding-top: 1.5%;
}

.dropdown{
    position: relative;
    display: inline-block;
    margin: auto;
}
.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
}
.dropdown:hover .dropdown-content{
    display: block;
}
/*footer*/
#footer{
    padding-right: 20px;
    padding-bottom: 30px;
}